.wrapper {
  display: flex;
  width: 100%;
  max-width: var(--width-container-medium);
  margin: 0 auto;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-2);
}

.top {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-2);
}

.heading {
  font-size: var(--font-size-lead);
  font-weight: var(--font-weight-medium);
}

.description {
  color: var(--color-text-light-secondary);
  word-wrap: break-word;
}
