.moon {
  background-color: black;
  opacity: 0;
  width: 100%;
  max-height: 60svh;
  mix-blend-mode: screen;
  aspect-ratio: 16 / 9;
  transition: opacity 1s ease-out;
}

.moon.loaded {
  opacity: 0.5;
}

@media (min-width: 640px) {
  .moon {
    transform: translateX(50%);
  }
}
