.wrapper {
  min-height: 100lvh;
  position: relative;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  justify-content: center;
  min-height: 100svh;
  padding-block: var(--spacing-5);
  padding-inline: var(--spacing-3);
  z-index: 1;
}

.logo {
  width: 128px;
}

.intro {
  font-size: var(--font-size-lead);
  text-align: center;
}

@media (min-width: 640px) {
  .content {
    gap: var(--spacing-4);
  }

  .logo {
    width: 200px;
  }
}
