.wrapper {
  --spacing: var(--spacing-3);
}

.header {
  border-bottom: 1px solid var(--color-border-light);
  display: flex;
  padding-inline: var(--spacing);
  padding-top: var(--spacing);
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin: 0 auto;
  max-width: var(--width-container-large);
  width: 100%;
}

.main {
  padding: var(--spacing);
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    --spacing: var(--spacing-4);
  }
}
