.logo {
  height: 24px;
  width: auto;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
  }

  .logo {
    height: 32px;
  }
}
