.layout {
  --spacing: var(--spacing-3);

  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--color-border-light);
  display: flex;
  padding-inline: var(--spacing);
  padding-top: var(--spacing);
}

.header.padded {
  padding-bottom: var(--spacing);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin: 0 auto;
  max-width: var(--width-container-large);
  width: 100%;
  align-items: flex-start;
}

.main {
  padding: var(--spacing);
}

@media (min-width: 1024px) {
  .wrapper {
    --spacing: var(--spacing-4);
  }
}
