.group {
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-2);
  display: grid;
  padding: var(--spacing-3);
  gap: var(--spacing-3);
  width: 100%;
  flex-wrap: wrap;
  max-width: var(--width-container-medium);
  margin: 0 auto;
}

.item {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-2);
  flex: none;
}

.heading {
  color: var(--color-text-light-secondary);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

@media (min-width: 780px) {
  .group {
    grid-template-columns: repeat(3, 1fr);
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-5);
    gap: var(--spacing-5);
  }
}
