.form {
  display: flex;
  position: relative;
  max-width: 640px;
  width: 100%;
}

.form.fill {
  max-width: none;
}

.input {
  background-color: var(--color-dark);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-border-light);
  display: flex;
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-light);
  height: var(--height-input-large);
  padding-left: var(--height-input-large);
  padding-right: var(--spacing-4);
  width: 100%;
}

.input:hover {
  filter: brightness(1.5);
}

.input::placeholder {
  color: var(--color-text-light-disabled);
}

.icon {
  align-items: center;
  display: inline-flex;
  height: var(--height-input-large);
  justify-content: center;
  left: 4px;
  position: absolute;
  top: 0;
  width: var(--height-input-large);
}
